body{

    background: #33A4D8;

}

.container{

    margin-left: 40%;
    margin-right: 30%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

h3{

    margin-left: 215px;

}

fieldset{

    padding-left: 80px;

}