body{

    background-color: #21FAFF;

}

.container{

    margin-left: 30%;
    margin-right: 40%;
    border: solid;
    padding: 60px;
    width: 800px;
    text-align: center;
    background: #2F8DFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h3{

    font-size: 40px;

}

